<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Indice</title>
	</head>
	<body> 

	<h2>Minions activos:</h2>
	{% for i in listaMinions %}
		<li><a href="{% url 'directorio:detalle2' i %}">{{ i }}</a></li>
		
	{% endfor %}

	
	</body>
</html>
