body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}
 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
p {
	margin: 0 0 1.5em 0;
}
img{
	height: 70px;
	float: left;
	padding-left: 55px;
}




#main-header {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 25px 0 0 50px;
	text-decoration: none;
	font-size: 135%;
	font-family: Helvetica, times,sans-serif; 
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 400;
		font-size: 1em;
		color: #999;
	}
	
 
/*
 * Navegación
 */
#main-header nav {
	float: right;
}
	#main-header nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		#main-header nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			#main-header nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				#main-header nav ul li a:hover {
					background: #0b76a6;
				}



#main-content {
	background: white;
	width: 70%;
	
	margin: 20px auto;
	padding-bottom: 15em;

}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}

#main-content ul li a{
	text-decoration: none;
	font-size: 135%;
	padding-top: 10px;
}
#main-content h1{
	color: black;
}
#main-content h1 a{
	text-decoration: none;
	color: black;
}
#main-content h1 a:hover{
	color: #0b76a6;
}

#main-menu{
	list-style-type: none;
	margin: 0;
	padding: 50px 90px 20px 20px;
	float: left;
	display: block;
	position: fixed;
	background-color: #222;
	padding-bottom: 40em;
}
#main-menu a{
	color: white;
	text-decoration: none;

}
#main-menu a:hover{
	color: #0b76a6;
}
#main-menu ul li {
	display: block;
}

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;

}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}





