li{
	margin-left: 1em;
}
li a {
	margin: 1em 0; display: block;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Georgia, Helvetica, sans-serif;

}
a{
	margin: 1em 0; display: block;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Georgia, Helvetica, sans-serif;
	margin: 2em;
}
a:hover{ color: #FE9A2E;}
body {
    /* background: white url("images/fondo-antiguo-marron.gif") no-repeat right bottom; */
    background-color: #9A2EFE;
}
body h1{
    	font-family: Arial, Helvetica, sans-serif;
    	margin-left: 1em;
    	margin-top: 0.5em;
}
h2{
    	font-family: Georgia, Helvetica, sans-serif;
    	margin-left: 1em;
    	margin-top: 0.5em;
}
form{
	margin-left: 1.3em;
}
form label{
	    font-family: Georgia, Helvetica, sans-serif;

}
form input{
	background-color: #AAAAAA;
	margin-top: 0.5em;
	border-bottom: 1px solid black;
}
h1{
	font-size:190%;
	letter-spacing: 0px;
	line-height: 42px;
	margin: 0 0 10px;
	text-align: center;
	text-transform: capitalize;
	background: #FFF;
}


