<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Indice</title>
	</head>
	<body> 

	{% if latest_question_list %}
	    <ul>
	    {% for minion in latest_question_list %}
		<li><a href="">{{ minion.nombre_texto }}</a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No hay minions.</p>
	{% endif %}

	</body>
</html>
