<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<h1>Detalle10 {{nombre_minion}}</h1>
		<h2>Nombre PKG: {{nombre_PKG}}</h2>
		<p>Estado: {{info_estado}}</p>
		<p>Info PKG {{info_PKG}}</p>
		<p>Acciones a realizar:</p>
		<ul>
			<li><a href="{% url 'directorio:detalle11_Install' nombre_minion nombre_PKG %}">Instalar</a></li>
			<li><a href="{% url 'directorio:detalle11_Remove' nombre_minion nombre_PKG %}">Desinstalar</a></li>
			<li>Ver estado</li>
			<li>Activar</li>
			<li>Parar</li>
			<li>Reiniciar</li>
		</ul>
		
		
		

		<a href="{% url 'directorio:index' %}">Indice</a>
	</body>
</html>