<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<h1>Detalle7</h1>
		<h3>Informacion de {{nombre_minion}}</h3>
		<p>Con fecha {{fecha_info}}</p>

		<p>La IP es: {{ip_info}}</p>

		<a href="{% url 'directorio:instalamosNginx' nombre_minion %}">Aplicamos estado(instalar Nginx, modulo personalizado)</a>
		<a href="{% url 'directorio:detalle9' nombre_minion %}">Informacion PKG</a>
		<a href="{% url 'directorio:index' %}">Indice</a>

		
	</body>
</html>