<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<h1>Detalle9</h1>
		<h2>Introduzca el nombre del paquete</h2>
		<h3>Minion: {{nombre_minion}}</h3>

		<form action="" method="post">
		    {% csrf_token %}
		    {{ form }}
		    <input  id="textoEntrada" name="textoEntrada" type="submit" value="Submit" />
		</form>

		<a href="{% url 'directorio:index' %}">Indice</a>

		
	</body>
</html>