<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<h1>Detalle8</h1>
		<h3>Informacion de {{nombre_minion}}</h3>
		
		<p>Esta instalado NGINX: {{info_nginx}}</p>
	
		<a href="{% url 'directorio:index' %}">Indice</a>

		
	</body>
</html>