<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<h1>Detalle5</h1>
		<h3>Reinicio de todos</h3>

		<p>Estamos reiniciando las siguientes maquinas:</p>
		{% for i in maquinas %}
			<li>{{ i }}</li>
		
		{% endfor %}

		<p>En comando hay:</p>
		{% for i in comando %}
			<li>{{ i }}</li>
		
		{% endfor %}

		<p>Espere unos segundos...</p>
		<a href="{% url 'directorio:index' %}">Indice</a>

		
	</body>
</html>