<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<h1>Nombre: {{nombre_minion}}</h1>
		<h2>Accion a realizar:</h2>

		<a href="{% url 'directorio:detalle3' nombre_minion %}">Reiniciar</a>
		<a href="{% url 'directorio:detalle4' nombre_minion %}">Comando</a>
		<a href="{% url 'directorio:detalle7' nombre_minion %}">Informacion</a>
		<a href="{% url 'directorio:index' %}">Indice</a>

		
	</body>
</html>
