<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<h1>Instalacion en {{nombre_minion}}</h1>
		<h2>Paquete: {{nombre_PKG}}</h2>

		<p>Espere unos segundos...</p>
		<p>Info PKG {{info_PKG}}</p>
		<a href="{% url 'directorio:detalle10' nombre_minion nombre_PKG %}">Volver a Info_Paquete</a>

		<a href="{% url 'directorio:index' %}">Indice</a>
	</body>
</html>