<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<h1>Detalle3</h1>
		<h2>Reiniciando....</h2>
		<p>Le mandamos Comando a {{nombre_minion}}</p>
		<p>Resultado: {{comando}}</p>
		<a href="{% url 'directorio:index' %}">Indice</a>

		
	</body>
</html>
