<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<h1>Detalle6</h1>
		<h3>Llegada del comando a {{nombre_minion}}</h3>
		<p>Comando introducido: {{comando_introducido}}</p>
		

		<p>Resultado: {{resultado_comando}}</p>
		<a href="{% url 'directorio:detalle4' nombre_minion %}">Introducir otro comando</a>
		<a href="{% url 'directorio:index' %}">Indice</a>

		
	</body>
</html>