<html>
	<head>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'configuracion/style.css' %}" />
		<title>Detalles</title>
	</head>
	<body> 
		<h1>Detalle4</h1>
		<h3>Le mandamos Comando a {{nombre_minion}}</h3>

		<form action="" method="post">
		    {% csrf_token %}
		    {{ form }}
		    <input  id="textoEntrada" name="textoEntrada" type="submit" value="Submit" />
		</form>


		<a href="{% url 'directorio:index' %}">Indice</a>

		
	</body>
</html>
