<!DOCTYPE html>
<html lang="es">
<head>

	{% load staticfiles %}

	<meta charset="utf-8">
	<title>Info PKG Device</title>

	<link href="{% static 'configuracion/estilo.css' %}" rel="stylesheet">

</head>
 
<body>
	
	<header id="main-header">
		<div>
			<img src="{% static 'configuracion/images/HP_Logo.png' %}">
		</div>
		
		<a id="logo-header" href="{% url 'directorio:index' %}">
			<span class="site-name">DCW</span>
			<span class="site-desc">Device Control Web</span>
		</a> <!-- / #logo-header -->

		<nav>
			<ul>
				<li>{{name_User}}</li>
				<li><a href="{% url 'directorio:User_Logout' %}">Logout</a></li>
			</ul>
		</nav><!-- / nav -->
 
	</header><!-- / #main-header -->
 
	<div id ="main-menu">
		<ul>
		<li><a href="{% url 'directorio:Info_Minion' nombre_minion %}">Informacion</a></li>
		<li><a href="{% url 'directorio:List_PKG_Minion' nombre_minion %}">Paquetes</a></li>
		<li><a href="{% url 'directorio:Send_Command' nombre_minion %}">Comando</a></li>
		<li><a href="{% url 'directorio:Reboot_Minion' nombre_minion %}">Reiniciar</a></li>
		</ul>
		
	</div >
	<div id="main-content">
		<section id="main-content">
		<h1><a href="{% url 'directorio:Web_Minion' nombre_minion %}">{{nombre_minion}}</a></h1>

		<div class="content">
			<h2>Detalles del paquete: {{nombre_PKG}}</h2>
			
			<h3>Info del paquete</h3>
			{% for key,value in info_PKG.items %}
				{%for key1, value1 in value.items %}
					{% for key2, value2 in value1.items %}
						<li>{{key2}}: {{value2}}</li>
					{% endfor %}
				{% endfor %}
			{% endfor %}

			{% for key, value in version_PKG.items %}
				{% if value == '' %}
					<p>Este paquete no esta instalado</p>
				{% endif %}
			{% endfor %}

			<h3>Estado</h3>
			{% for key, value in info_estado.items %}
				{% if value %}
					<p>Activo </p>
				{% else %}
					<p>Parado</p>
				{% endif %}
			{% endfor %}

	
			<h3>Acciones a realizar:</h3>
			<ul>
					<li><a href="{% url 'directorio:PKG_Install' nombre_minion nombre_PKG %}">Instalar</a></li>
					<li><a href="{% url 'directorio:PKG_Remove' nombre_minion nombre_PKG %}">Desinstalar</a></li>
					<li><a href="{% url 'directorio:Service_Start' nombre_minion nombre_PKG %}">Activar</a></li>
					<li><a href="{% url 'directorio:Service_Stop' nombre_minion nombre_PKG %}">Parar</a></li>
					<li><a href="{% url 'directorio:Service_Restart' nombre_minion nombre_PKG %}">Resetear</a></li>
				
			</ul>


		</div>

	
	</section> <!-- / #main-content -->
 
	
	</div>

	<div>
	<footer id="main-footer">
		<p>&copy; 2016 Francisco Javier Pereña Martin</p>
	</footer> <!-- / #main-footer -->

	</div>

 
	
</body>
</html>