<!DOCTYPE html>
<html lang="es">
<head>

	{% load staticfiles %}

	<meta charset="utf-8">
	<title>PKG Device</title>

	<link href="{% static 'configuracion/estilo.css' %}" rel="stylesheet">

</head>
 
<body>
	
	<header id="main-header">
		<div>
			<img src="{% static 'configuracion/images/HP_Logo.png' %}">
		</div>
		
		<a id="logo-header" href="{% url 'directorio:index' %}">
			<span class="site-name">DCW</span>
			<span class="site-desc">Device Control Web</span>
		</a> <!-- / #logo-header -->

		<nav>
			<ul>
				<li>{{name_User}}</li>
				<li><a href="{% url 'directorio:User_Logout' %}">Logout</a></li>
			</ul>
		</nav><!-- / nav -->
 
	</header><!-- / #main-header -->
 
	<div id ="main-menu">
		<ul>
		<li><a href="{% url 'directorio:Info_Minion' nombre_minion %}">Informacion</a></li>
		<li><a href="{% url 'directorio:List_PKG_Minion' nombre_minion %}">Paquetes</a></li>
		<li><a href="{% url 'directorio:Send_Command' nombre_minion %}">Comando</a></li>
		<li><a href="{% url 'directorio:Reboot_Minion' nombre_minion %}">Reiniciar</a></li>
		</ul>
		
	</div >
	<div id="main-content">
		<section id="main-content">
		<h1><a href="{% url 'directorio:Web_Minion' nombre_minion %}">{{nombre_minion}}</a></h1>

		<div class="content">
			
			<h2>Paquetes</h2>
			<form action="" method="post">
			    {% csrf_token %}
			    {{ form }}
			    <input  id="textoEntrada" name="textoEntrada" type="submit" value="Submit" />
			</form>
			<h2> <a href="{% url 'directorio:applyStatus' nombre_minion %}">Aplicar estado</a> </h2>

			<h3>Listado de paquetes que tiene el minion</h3>
			{% for key,value in paquetes_info.items %}
				{% for nombre_PKG in value %}
					<li><a href="{% url 'directorio:Info_PKG_Minion' nombre_minion nombre_PKG %}"> {{nombre_PKG}} </a></li>
				{% endfor %}
			{% endfor %}


		</div>

	
	</section> <!-- / #main-content -->
 
	
	</div>

	<div>
	<footer id="main-footer">
		<p>&copy; 2016 Francisco Javier Pereña Martin</p>
	</footer> <!-- / #main-footer -->

	</div>

 
	
</body>
</html>
