<!DOCTYPE html>
<html lang="es">
<head>

  {% load staticfiles %}

  <meta charset="utf-8">
  <title>Cabecera fija</title>

  <link href="{% static 'configuracion/estilo.css' %}" rel="stylesheet">
  <link href="{% static 'configuracion/users.css' %}" rel="stylesheet">
</head>
 
<body>
  
  <header id="main-header">
    <div>
      <img src="{% static 'configuracion/images/HP_Logo.png' %}">
    </div>
    
    <a id="logo-header" href="#">
      <span class="site-name">DCW</span>
      <span class="site-desc">Device Control Web</span>
    </a> <!-- / #logo-header -->
 
  </header><!-- / #main-header -->
 
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>Login</h1>
      </div>

      <div class="login-form">
        <form method='POST' action=''> 
          {% csrf_token %}
          {{ form.as_p }}
        <input type='submit' value='Entrar'>
      </form>

      
      </div>
    </div>
  </div>



  <div>
  <footer id="main-footer">
    <p>&copy; 2016 Francisco Javier Pereña Martin</p>
  </footer> <!-- / #main-footer -->

  </div>

 
  
</body>
</html>

