<!DOCTYPE html>
<html lang="es">
<head>

	{% load staticfiles %}

	<meta charset="utf-8">
	<title>RebootAll</title>

	<link href="{% static 'configuracion/estilo.css' %}" rel="stylesheet">

</head>
 
<body>
	
	<header id="main-header">
		<div>
			<img src="{% static 'configuracion/images/HP_Logo.png' %}">
		</div>
		
		<a id="logo-header" href="{% url 'directorio:index' %}">
			<span class="site-name">DCW</span>
			<span class="site-desc">Device Control Web</span>
		</a> <!-- / #logo-header -->

		<nav>
			<ul>
				<li>{{name_User}}</li>
				<li><a href="{% url 'directorio:User_Logout' %}">Logout</a></li>
			</ul>
		</nav><!-- / nav -->
 
	</header><!-- / #main-header -->
 
	<div id ="main-menu">

		<a href="{% url 'directorio:index' %}">Inicio</a>
		<a href=""></a>
	</div >
	<div id="main-content">
		<section id="main-content">
		<h1>Reboot</h1>

		<div class="content">
					<h2>Reinicio de todas las maquinas</h2>
			{% for i in comando %}
				<li>{{ i }}</li>
			{% endfor %}

			<p>Espere unos segundos...</p>
					
		</div>

	
	</section> <!-- / #main-content -->
 
	
	</div>

	<div>
	<footer id="main-footer">
		<p>&copy; 2016 Francisco Javier Pereña Martin</p>
	</footer> <!-- / #main-footer -->

	</div>

 
	
</body>
</html>