<html>
<head>
  {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'configuracion/estilo.css' %}" />
  <title>Usuario</title>
</head>
<body>
  <div>
    <h1><a href="{% url 'directorio:User_Reg' %}">Registrar</a></h1>
  </div>

  <div>
    <h1><a href="{% url 'directorio:User_Login' %}">Login</a></h1>
  </div>

</body>
</html>